* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: #363636;
}


/* HEADER */
.headerSimple {
  background: #363636;
  width: 100%;
}

.headerSimpleExtendido {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  width: 100%;
  background-color: #ba0000;
  padding-top: 10px;
}

@media screen and (min-width: 1000px) {
  .headerSimpleExtendido {
    display: flex;
    flex-direction: row;
  }

  .menu_navbar ul {
    display: flex;
    flex-direction: row;
    font-size: 20px;
  }

  .headerSimple__logo {
    margin-right: 500px;
  }
}

.headerSimple__logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.menu_navbar ul,
li {
  display: flex;
  list-style: none;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

.menu_navbar img {
  width: 55px;
}

/* MAIN */
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.main__banner1{
    margin-top: 20px;
}

.main__parrafo{
    padding: 10px;
    color: #fff;
    font-size: 18px;
}

.main__parrafo2{
    padding: 10px;
    color: #fff;
}