* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #363636;
  width: 100%;
  height: 100vh;
}

/* HEADER */
.headerSimpleExtendido {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  width: 100%;
  background-color: #ba0000;
  padding-top: 10px;
}

@media screen and (min-width: 1000px) {
  .headerSimpleExtendido {
    display: flex;
    flex-direction: row;
  }

  .menu_navbar ul {
    display: flex;
    flex-direction: row;
    font-size: 20px;
  }

  .headerSimple__logo {
    margin-right: 500px;
  }
}

.headerSimple__logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.menu_navbar ul,
li {
  display: flex;
  list-style: none;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

.menu_navbar img {
  width: 55px;
}

/* MAIN */
.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.main__banner1 {
  margin-top: 20px;
}

.main__parrafo {
  padding: 10px;
  color: #fff;
  font-size: 18px;
}

.main__parrafo2 {
  padding: 10px;
  color: #fff;
}

/* FOOTER */
.footer {
  display: flex;
  max-width: 350px;
  background-color: #ba0000;
  padding-top: 10px;
}

.footer__navbar {
  margin-right: 20px;
}

.seccionfooter__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.footer__logo {
  width: 80px;
}

.rdds img {
  width: 20px;
}

.footer_copy {
  padding: 8px;
  margin-top: 10px;
}

.footer_copy__texto {
  font-size: 14px;
  color: #fff;
}

.footer_terminos {
  margin-top: 20px;
  font-size: 10px;
  color: #fff;
}
