* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #363636;
}

/* HEADER */
.headerSimpleExtendido {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  width: 100%;
  background-color: #ba0000;
  padding-top: 10px;
}

@media screen and (min-width: 1000px) {
  .headerSimpleExtendido {
    display: flex;
    flex-direction: row;
  }

  .menu_navbar ul {
    display: flex;
    flex-direction: row;
    font-size: 20px;
  }

  .headerSimple__logo {
    margin-right: 500px;
  }
}

.headerSimple__logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.menu_navbar ul,
li {
  display: flex;
  list-style: none;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

.menu_navbar img {
  width: 55px;
}

/* MAIN */
@media screen and (min-width: 1000px) {
  .container {
    display: grid;
    height: 400px;
    grid-template-columns: repeat(3, 1fr);
  }

  .parrafo2 {
    grid-column: 2;
  }
}

.banner {
  margin-top: 20px;
}

.parrafo {
  padding: 10px;
  color: #fff;
  font-size: 18px;
}
.parrafo2 {
  color: #fff;
}

.container__parrafo2 {
  padding: 10px;
  color: #fff;
}

/* FOOTER */
@media screen and (min-width: 1000px) {
  .footer {
    min-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .contenido_footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}

.footer {
  display: flex;
  max-width: 350px;
  background-color: #ba0000;
  padding-top: 10px;
}

.contenido_footer {
  display: flex;
  flex-direction: row;
}

.footer__navbar {
  margin-right: 20px;
}

.seccionfooter__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.footer__logo {
  width: 80px;
}

.rdds img {
  width: 20px;
}

.footer_copy {
  padding: 8px;
  margin-top: 10px;
}

.footer_copy__texto {
  font-size: 14px;
  color: #fff;
}

.footer_terminos {
  margin-top: 20px;
  font-size: 10px;
  color: #fff;
}

/* GALERIA */
.main_galeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_galeria__imagen_marginright {
  margin-top: 10px;
  margin-right: 120px;
}

.main_galeria__imagen_margin {
  margin-left: 120px;
}
